<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzq.mapper.CameraMapper">
    <resultMap id="Cam" type="com.lzq.pojo.Cam">
        <result property="cameraId" column="camera_id"/>
        <result property="videoImage" column="video_image"/>
        <result property="camName" column="cam_name"/>
        <result property="camLng" column="cam_lng"/>
        <result property="camLat" column="cam_lat"/>
        <result property="processNum" column="process_num"/>
        <result property="selectImageUrl" column="select_image_url"/>
        <result property="cameraDescription" column="camera_description"/>
        <result property="proId" column="pro_id"/>
        <result property="videoTime" column="video_time"/>
        <result property="bingingFileId" column="binging_file_id"/>
        <result property="videoUrl" column="video_url"/>
        <result property="status" column="status"/>
        <result property="isProcess" column="is_process"/>
        <result property="isSelectImg" column="is_select_img"/>
    </resultMap>

    <insert id="createCamera" parameterType="Cam">
        INSERT INTO camera
        (video_image,cam_name,cam_lng,cam_lat,process_num,select_image_url,camera_description,pro_id,video_time,
        binging_file_id,video_url,status,is_process,is_select_img) VALUES
        (#{videoImage},#{camName},#{camLng},#{camLat},#{process_num},#{select_image_url},#{cameraDescription},#{proId},
        #{videoTime},#{bingingFileId},#{videoUrl},#{status},#{isProcess},#{isSelectImg})
    </insert>
    <select id="getCamByBingingFileId" resultMap="Cam">
        SELECT * FROM camera
        WHERE pro_id = #{proId,jdbcType=INTEGER} AND binging_file_id = #{bingingFileId,jdbcType=INTEGER}
    </select>

    <select id="getCamerasByProId" parameterType="Integer" resultMap="Cam">
        SELECT * FROM camera
        WHERE pro_id = #{proId}
    </select>

    <select id="getCameraByCamName" parameterType="String" resultMap="Cam">
        SELECT * FROM camera
        WHERE cam_name = #{camName}
    </select>

    <select id="getCameraByCamId" parameterType="Integer" resultMap="Cam">
        SELECT * FROM camera
        WHERE camera_id = #{cameraId}
    </select>

    <update id="updateCamera" parameterType="Cam">
        UPDATE camera
        set video_image = #{videoImage},
        cam_name = #{camName},
        cam_lng = #{camLng},
        cam_lat = #{camLat},
        process_num = #{processNum},
        select_image_url = #{selectImageUrl},
        camera_description = #{cameraDescription},
        pro_id = #{proId},
        video_time = #{videoTime},
        binging_file_id = #{bingingFileId},
        video_url = #{videoUrl},
        status = #{status},
        is_process = #{isProcess},
        is_select_img = #{isSelectImg}
        WHERE camera_id = #{cameraId}
    </update>

    <delete id="deleteCamera" parameterType="Integer">
        delete from camera
        where camera_id = #{cameraId}
    </delete>
</mapper>
