<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzq.mapper.FileMapper">
    <resultMap id="File" type="com.lzq.pojo.File">
        <result property="fileId" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="fileUrl" column="local_url"/>
        <result property="fileName" column="name"/>
    </resultMap>

    <select id="getVideosByUserId" parameterType="Integer" resultMap="File">
        SELECT * FROM file
        WHERE user_id = #{userId} AND category_id = 3
    </select>

    <select id="getImagesByUserId" parameterType="Integer" resultMap="File">
        SELECT * FROM file
        WHERE user_id = #{userId} AND category_id = 4
    </select>

</mapper>