<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzq.mapper.ImageMapper">
    <resultMap id="Image" type="com.lzq.pojo.Image">
        <result property="imageId" column="image_id"/>
        <result property="cameraId" column="camera_id"/>
        <result property="imageTime" column="image_time"/>
        <result property="tag" column="tag"/>
        <result property="imageUrl" column="image_url"/>
        <result property="finalImageUrl" column="final_image_url"/>
        <result property="searchImageUrl" column="search_image_url"/>
        <result property="proId" column="pro_id"/>
        <result property="camName" column="cam_name"/>
        <result property="camLng" column="cam_lng"/>
        <result property="camLat" column="cam_lat"/>
    </resultMap>

    <update id="updateImage" parameterType="Image">
        UPDATE image
        set
        image_time = #{imageTime},
        tag = #{tag},
        image_url = #{imageUrl},
        finalimage_url = #{finalImageUrl},
        searchimage_url = #{searchImageUrl},
        pro_id = #{proId},
        cam_name = #{camName},
        cam_lng = #{camLng},
        cam_lat = #{camLat}
        WHERE camera_id = #{cameraId}
    </update>

    <insert id="createImage" parameterType="Image">
        INSERT INTO image
        (camera_id,image_time,tag,image_url,finalimage_url,searchimage_url,pro_id,cam_name,cam_lng,cam_lat) VALUES
        (#{cameraId},#{imageTime},#{tag},#{imageUrl},#{finalImageUrl},#{searchImageUrl}, #{proId}, #{camName} ,#{camLng}, #{camLat})
    </insert>

    <select id="getImagesByCameraId" parameterType="Integer" resultMap="Image">
        SELECT * FROM image
        WHERE camera_id = #{CameraId}
    </select>

    <delete id="deleteImage" parameterType="Integer">
        delete from image
        where image_id=#{imageId}
    </delete>


</mapper>