<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzq.mapper.ImageMapper">
    <resultMap id="Image" type="com.lzq.pojo.Image">
        <result property="imageId" column="image_id"/>
        <result property="videoId" column="video_id"/>
        <result property="imageTime" column="image_time"/>
        <result property="tag" column="tag"/>
        <result property="imageUrl" column="image_url"/>
    </resultMap>

    <insert id="createImage" parameterType="Image">
        INSERT INTO image
        (video_id,image_time,tag,image_url) VALUES
        (#{videoId},#{imageTime},#{tag},#{imageUrl})
    </insert>

    <select id="getImagesByVideoId" parameterType="Integer" resultMap="Image">
        SELECT * FROM image
        WHERE video_id = #{videoId}
    </select>

    <delete id="deleteImage" parameterType="Integer">
        delete from image
        where image_id = #{imageId}
    </delete>
</mapper>