<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.js"></script>
</head>
<body>
<input type = "button" id="testAjax">
<input type="text" id="testSearch" placeholder="输入书名">
<p id ="content">

</p>
<script type="text/javascript">
        $("#testAjax").click(function(){
            $.ajax({
                type:'POST',
                url: "http://127.0.0.1:8081/book/getBooksBySearchKey",
                data: JSON.stringify({"data" : $("#testSearch").val}),
                dataType:"JSON",
                success: function (data) {
                    if (data.success) {
                    document.getElementById("content").innerHTML=data

                        //return data;
                    } else {
                        //document.getElementById("").innerHTML = "哎呀呀，出错了";
                        // return "哎呀呀，出错了";
                        $("#content").html("哎呀呀，出错了");
                    }
                },
                error: function (jqXHR) {
                    return "哎呀呀，出错了" + jqXHR.status;
                }
            });
        });

</script>
</body>
</html>